 <div class="row justify-content-center">
            <div class="col-md-8 mt-5">
                <div class="polaroid mt-5">
                    <img src="images/<% content.Polaroid.map(data=>{%><%=data.img %><% }) %>" class="img-responsive" alt="">
                    <div class="polaroid-body">
                            <h2>
                              <% content.Polaroid.map(data=>{%>
                                <%=data.content %>
                              <% }) %> 
                              </h2>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="col-md-12">
            <h1 class="underline"></h1>

            <h1><%= url %></h1>
        </div>
        
    </div>
    <!-- akhir container -->
	
    <!-- parallax -->

<div class="parallax" style="background-image: url('images/<%content.ParallaxHome1.map(data=>{%><%=data.img%><%})%>');">
<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class='box-wave'>
          <div class='wave -one'></div>
          <div class='wave -two'></div>
          <div class='wave -three'></div>
          <div class='title-wave'>
            <h4>
             <% content.ParallaxHome1.map(data => {%>
                <%= data.content %>
             <% }) %>
            </h4>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>